/* css reset stuff*/
*       {
    box-sizing: border-box;
}

body    {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

/* main styles */

/* header styles */
header   {
    background: #222;
    color: #FFF;
    padding: 20px 30px;
}

/* logo */
header #logo  {
    color: #FFF;
    text-decoration: none;
}

header #logo img {
    width: 50px;
    border: 3px;
    margin-right: 8px;
    vertical-align: middle;
}